{{blockCollapseChanged}}
<div style='overflow:hidden;width:100%;height:200px;'>
    <div class="geo-integration-map" style='width:100%;height:100%'>
    </div>
    <div>
        <small>
            <a href="http://embedgooglemaps.com">embed google maps</a>
        </small>
    </div>
    <div>
        <small>
            <a href="https://privacypolicygenerator.info">privacy policy example</a>
        </small>
    </div>
</div>
